.menu-wrap {
    position: fixed;
    top : 0;
    left : 0;
    z-index: 2;
}

/* toggler => input : type = "checkbox"*/
.toggler {
    background-color: aquamarine;
    position: absolute;
    top : 0.5rem;
    left : 0.5rem;
    width: 60px;
    height: 60px;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
}

/* hamburger */
.hamburger {
    opacity: 1;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #111111;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top : .5rem;
    left : .5rem
}

.hamburger > div {
    position: absolute;
    width: 60%;
    height: 3px;
    border-radius:  1.5px;
    background-color: #fff44f;
    transition: 0.4s;
}

.hamburger div:after , .hamburger div::before{
    content: '';
    position: absolute;
    /* top : -10px; */
    left : 0;
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
    background-color: #fff44f;
    transform: .4s;
}
.hamburger > div::after {
    top : -10px
}
.hamburger > div::before {
    top : 10px
}

/* toggler : checkout => hamburger  */
.toggler:checked + .hamburger div {
    transform: rotate(135deg);
}

/* hover in toggler  and hamburger*/
.toggler:checked:hover + .hamburger div {
    transform: rotate(225deg);
}

/* rotate => toggler and humburger in CSS  Cross*/
.toggler:checked + .hamburger > div::after, .toggler:checked + .hamburger > div::before   {
    transform: rotate(90deg);
    top:0
}

